<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Cash Register</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<%
   total = 0
    if tuna == "t"
    	total = total + grocery("Lite Tuna")
    end

    if goldfish == "t"
    	total = total + grocery("Goldfish")
    end

       if beans == "t"
    	total = total + item_name("Pinto Beans")
    end

    if pepperoni == "t"
    	total = total + item_name("Pepperoni")
    end

     if milk == "t"
        total = total + item_name("Milk")
    end

     if butter == "t"
        total = total + item_name("Butter")
    end

     if cheese == "t"
        total = total + item_name("Cheese")
    end

     if whip topping == "t"
        total = total + item_name("Whip Topping")
    end
   
    %>
    Thank for shopping with us.<br>
    Shopping Cart<br>

   Subtotal is:
   Tax is:
   Total is:
$<%= total.round(2) %>
<br>
<br>
<br>
Do you want to change your order? If so select Go button
<a href='//localhost:4567'>Go!</a>
</center>
</body>
<script>
window.onload=getOrderDate('date');
</script>