<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Cash Register</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<%
   total = 0
    if tuna == "t"
    	total = total + grocery("Lite Tuna").to_f
    end

    if goldfish == "t"
    	total = total + grocery("Goldfish").to_f
    end

       if beans == "t"
    	total = total + grocery("Pinto Beans").to_f
    end

    if pepperoni == "t"
    	total = total + grocery("Pepperoni").to_f
    end

     if milk == "t"
        total = total + grocery("Milk").to_f
    end

     if butter == "t"
        total = total + grocery("Butter").to_f
    end

     if cheese == "t"
        total = total + grocery("Cheese").to_f
    end

     if whip_topping == "t"
        total = total + grocery("Whip_Topping").to_f
    end
   
    %>
    Thank for shopping with us.<br>
    Shopping Cart<br>

$<%= total.round(2) %>
<br>
<% 
tax = total * 0.06
total_all = total + tax
%>
<br> 
$<%= tax.round(2) %><br>
$<%= total_all.round(2) %><br>
<br><br><br><br><br>
Do you want to change your order?<br><br> If so select Go button
<a href='//localhost:4567'>Go!</a>
</center>
</body>
<br><br><br>
<script>
window.onload=getOrderDate('date');
</script>